<div class ="to_do_form">
  <h3>Create a new to do item</h3>

<%= form_for ToDoItem.new(:destination_id => destination_id) , :remote => true do |f| %>

  <%= f.hidden_field :destination_id %>

    <p>Name</p> <BR>
  	  <%= f.text_field :name %>

    <p>Location</p>
  	  <%= f.text_field :location %>

  	 <%= f.submit %>

  <% end %>

</div>


  