<div class="to_do_item <%= to_do_item.completed? ? 'completed' : '' %>">
	
	<h3><%= to_do_item.name%></h3>
	

	<div id="style" class="comments-<%=to_do_item.id%>">
		 <% to_do_item.comments.each do |comment| %>
		    <%= render comment %>

		<% end %>
		  
    </div>

    <%= render :partial => 'comments/form', :locals => { :item => to_do_item } %>

	</div>

  



