
<div id="map-canvas">
</div>

<div class="title">
	<h1>My Bucket List </h1>
</div>

<div class= "main" id="style">
	  <% @destinations.each do |destination| %>
	    <div class="destinations" id='<%=destination.id%>' data-destination-id="<%=destination.id%>">
		  <h2><%= link_to destination.name, destinations_path(destination.id), :remote => true, :method => :post %></h2>
		</div>
	  <%end%>
    </div>

	<div class="todoitemsearch"> 
	  <%@destinations.each do |destination|%>
	    <div class = "todoitem<%=destination.id%>">
		  <% destination.to_do_items.each do |to_do_item| %>
			<h4><%= render to_do_item, :item_id=>to_do_item.id %></h4>
		  <%end%>
		</div>
	</div>

	<div class = "addtodoitem">
		<%= render :partial => 'to_do_items/form', :locals => {:destination_id => destination.id} %>
	</div>
  <%end%>
</div> 








