<div class= "main" id="mathilda">
	  <%# @destinations.each do |destination| %>
	    <div class="destinations" id='<%=destination[0].id%>' data-destination-id="<%=destination[0].id%>">
		  <h2><%=destination.name%></h2>
		</div>
	  <%#end%>
    </div>

	<div class="todoitemsearch"> 
	  <%#@destinations.each do |destination|%>
	    <div class = "todoitem<%=destination[0].id%>">
		  <% destination[0].to_do_items.each do |to_do_item| %>
			<h4><%= render to_do_item, :item_id=>to_do_item.id %></h4>
		  <%#end%>
		</div>
	</div>

	<div class = "addtodoitem">
		<%= render :partial => 'to_do_items/form', :locals => {:destination_id => destination[0].id} %>
	</div>
  <%end%>
</div> 
